<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.knowledge.mapper.NoteMapper">
    
    <resultMap id="BaseResultMap" type="com.knowledge.entity.Note">
        <id column="id" property="id"/>
        <result column="type" property="type"/>
        <result column="title" property="title"/>
        <result column="summary" property="summary"/>
        <result column="content" property="content"/>
        <result column="tags" property="tags"/>
        <result column="rec_creator" property="recCreator"/>
        <result column="rec_create_time" property="recCreateTime"/>
        <result column="rec_revisor" property="recRevisor"/>
        <result column="rec_revise_time" property="recReviseTime"/>
        <result column="arch_flag" property="archFlag"/>
    </resultMap>
    
    <sql id="Base_Column_List">
        id, type, title, summary, content, tags,
        rec_creator, rec_create_time, rec_revisor, rec_revise_time, arch_flag
    </sql>
    
    <select id="selectById" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM km_note
        WHERE id = #{id} AND arch_flag = 0 AND rec_creator = #{recCreator}
    </select>
    
    <select id="selectAll" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM km_note
        WHERE arch_flag = 0 AND rec_creator = #{recCreator}
        ORDER BY rec_create_time DESC
    </select>
    
    <select id="selectByType" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM km_note
        WHERE type = #{type} AND arch_flag = 0 AND rec_creator = #{recCreator}
        ORDER BY rec_create_time DESC
    </select>
    
    <select id="search" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM km_note
        WHERE (title LIKE CONCAT('%', #{keyword}, '%') OR summary LIKE CONCAT('%', #{keyword}, '%'))
        AND arch_flag = 0 AND rec_creator = #{recCreator}
        ORDER BY rec_create_time DESC
    </select>
    
    <insert id="insert" parameterType="com.knowledge.entity.Note" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO km_note (
            type, title, summary, content, tags,
            rec_creator, rec_create_time, arch_flag
        ) VALUES (
            #{type}, #{title}, #{summary}, #{content}, #{tags},
            #{recCreator}, NOW(), 0
        )
    </insert>
    
    <update id="update" parameterType="com.knowledge.entity.Note">
        UPDATE km_note
        <set>
            <if test="type != null">type = #{type},</if>
            <if test="title != null">title = #{title},</if>
            <if test="summary != null">summary = #{summary},</if>
            <if test="content != null">content = #{content},</if>
            <if test="tags != null">tags = #{tags},</if>
            <if test="recRevisor != null">rec_revisor = #{recRevisor},</if>
            rec_revise_time = NOW()
        </set>
        WHERE id = #{id}
    </update>
    
    <delete id="deleteById">
        UPDATE km_note
        SET arch_flag = 1, rec_revise_time = NOW()
        WHERE id = #{id}
    </delete>
    
</mapper>

