<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.knowledge.mapper.SummaryMapper">
    
    <resultMap id="BaseResultMap" type="com.knowledge.entity.Summary">
        <id column="id" property="id"/>
        <result column="title" property="title"/>
        <result column="type" property="type"/>
        <result column="period" property="period"/>
        <result column="description" property="description"/>
        <result column="content" property="content"/>
        <result column="satisfaction" property="satisfaction"/>
        <result column="tags" property="tags"/>
        <result column="rec_creator" property="recCreator"/>
        <result column="rec_create_time" property="recCreateTime"/>
        <result column="rec_revisor" property="recRevisor"/>
        <result column="rec_revise_time" property="recReviseTime"/>
        <result column="arch_flag" property="archFlag"/>
    </resultMap>
    
    <sql id="Base_Column_List">
        id, title, type, period, description, content, satisfaction, tags,
        rec_creator, rec_create_time, rec_revisor, rec_revise_time, arch_flag
    </sql>
    
    <select id="selectById" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM km_summary
        WHERE id = #{id} AND arch_flag = 0 AND rec_creator = #{recCreator}
    </select>
    
    <select id="selectAll" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM km_summary
        WHERE arch_flag = 0 AND rec_creator = #{recCreator}
        ORDER BY rec_create_time DESC
    </select>
    
    <select id="selectByType" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM km_summary
        WHERE type = #{type} AND arch_flag = 0 AND rec_creator = #{recCreator}
        ORDER BY rec_create_time DESC
    </select>
    
    <insert id="insert" parameterType="com.knowledge.entity.Summary" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO km_summary (
            title, type, period, description, content, satisfaction, tags,
            rec_creator, rec_create_time, arch_flag
        ) VALUES (
            #{title}, #{type}, #{period}, #{description}, #{content}, #{satisfaction}, #{tags},
            #{recCreator}, NOW(), 0
        )
    </insert>
    
    <update id="update" parameterType="com.knowledge.entity.Summary">
        UPDATE km_summary
        <set>
            <if test="title != null">title = #{title},</if>
            <if test="type != null">type = #{type},</if>
            <if test="period != null">period = #{period},</if>
            <if test="description != null">description = #{description},</if>
            <if test="content != null">content = #{content},</if>
            <if test="satisfaction != null">satisfaction = #{satisfaction},</if>
            <if test="tags != null">tags = #{tags},</if>
            <if test="recRevisor != null">rec_revisor = #{recRevisor},</if>
            rec_revise_time = NOW()
        </set>
        WHERE id = #{id}
    </update>
    
    <delete id="deleteById">
        UPDATE km_summary
        SET arch_flag = 1, rec_revise_time = NOW()
        WHERE id = #{id}
    </delete>
    
</mapper>

